*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
  
    background-image: url(https://wallpapercave.com/wp/wp6835227.png);
    background: size 150%;
    font-family:mikado;
  }
  .menu-bar{
        background: #5b71b5;
        text-align: center;
  }
  .menu-bar ul{
        display: inline-flex;
         list-style:none;


  }
.menu-bar ul li {

    width: 170px;
    margin: 15px;
    padding: 15px;

}
.menu-bar ul li a {

    text-decoration: none;
    color: azure;
}

.active, .menu-bar ul li:hover{
        background:#d4c995 ;
        border-radius: 30px;

}

.menu-bar .fas {



    margin-right: 4px;


}
.sub-menu-1 {
display: none;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #5b71b5;
    margin-top: 15px;
    margin-left: -15px;
    font-size: 14px;

}

.menu-bar ul li:hover .sub-menu-1 ul{
        display:block ;
}
.menu-bar ul li:hover .sub-menu-1 ul li{

            width: 150px;
            padding: 10px;
            border-bottom: 1px solid white;
            background: transparent;
            text-align: left;
            border-radius: 0;
            cursor: pointer;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{

        color: #b2ff00;






}
